<div class="text-layout">
    <h1>DecimalPipes y Porcentaje</h1>
    <p>Pipes incluidos en Angular - Usualmente en Common Modules</p>    
</div>

<div class="grid">
    <div class="col md:col-4">
        <p-card header="Ventas Netas"
                subheader="Ventas Netas del Periodo"> 
                <i class="pi pi-dollar"></i>
                {{ ventasNetas + 1 | number:'1.2-2' }}
                <hr> 
                <small>ventasNetas+1 | number:'1.2-2'</small>
        </p-card>
    </div>
    <div class="col md:col-4">
        <p-card header="Ventas Brutas"
                subheader="Ventas Brutas del Periodo"> 

                {{ ventasNetas + 2 | currency:'EUR':'symbol-narrow':'1.0-4' }}
                <hr> 
                <small>ventasNetas+2 | currency:'EUR':'symbol-narrow':'1.0-4'</small>
        </p-card>
    </div>
    <div class="col md:col-4">
        <p-card header="Ganancia porcentual"
                subheader="Ganancia porcentual del Periodo"> 

                {{ porcentaje | percent:'2.2-2' }}
                <hr> 
                <small>porcentaje | percent:'2.2-2'</small>
        </p-card>    </div>
</div>

